@import "smallscreens.css";

:root {
  --med-padding: 1rem;
  --small-margin: 10px;
  --light-blue: #aed6f1;
  --soft-border: 6px;
}

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

* {
  /* border: 1px solid black; */
}

@font-face {
  font-family: Andika;
  src: url("https://fonts.googleapis.com/css?family=Andika&display=swap");
}

h1 {
  margin-top: 0;
}

div,
img {
  font-family: Andika, "Arial", "Times New Roman";
}

li {
  margin: var(--small-margin) auto;
}

ol {
  margin-top: 0;
}

span {
  padding: 1px;
}

.answer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dialog {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.main {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
}

.lesson {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80vw;
  height: 100%;
}

.example {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.example img {
  height: 30vw;
  width: 30vw;
}

.example span {
  font-size: 4rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #aed6f1;
  border-radius: 6px;
  min-height: 50vh;
  min-width: 10vw;
}

.example .subject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.pronoun {
  margin: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pronoun img {
  height: 100%;
  width: auto;
}

.pronoun span,
.helpbutton {
  text-align: center;
  font-size: 3vw;
}

.pronoun:hover {
  box-shadow: 0px 0px 3px 3px #3aabff;
  border-radius: 2px;
  background-color: #3aabff;
}

.lower {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pikachu,
.charizard,
.speechbubble {
  height: 10vh;
  width: auto;
  z-index: 1;
}

.speechbubble {
  transform: translate(-1vw, -5vh);
  z-index: 0;
}

.helpbutton {
  border-radius: 0.5rem;
  background-color: #aed6f1;
  text-decoration: none;
  /* padding: var(--med-padding); */
  /* font-size: 2rem; */
}

.language-button {
  display: flex;
  margin: auto auto;
  border: none;
  outline: none;
  font-size: 2rem;
  border-radius: var(--soft-border);
  background-color: var(--light-blue);
}

.object,
.helpobject {
  background-color: #82e0aa;
  box-shadow: 0px 0px 3px 3px #82e0aa;
}

.subject,
.helpsubject {
  background-color: #ec7063;
  box-shadow: 0px 0px 3px 3px #ec7063;
}

.verb,
.helpverb {
  background-color: #f7dc6f;
  box-shadow: 0px 0px 3px 3px #f7dc6f;
}

.word {
  font-size: 3vw;
  padding: var(--med-padding);
  border-radius: 6px;
}

.uppersentence {
  display: flex;
  justify-content: center;
}
