@font-face {
  font-family: Andika;
  src: url("https://fonts.googleapis.com/css?family=Andika&display=swap");
}

div,
img {
  /* border: 1px solid black; */
  font-family: Andika, "Arial", "Times New Roman";
}

.upper {
  display: flex;
  justify-content: center;
  min-height: 50vh;
  margin-top: 5vh;
}

.upperleft {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80vw;
}

.upperright {
  display: flex;
  justify-content: center;
  width: 20vw;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #aed6f1;
  border-radius: 6px;
  min-height: 50vh;
  min-width: 10vw;
}

.subjectpic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  max-height: 256px;
  margin: 10px;
}

.uppersentence {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.word {
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
}

.example {
  margin: auto 30px;
}

.pronoun {
  margin: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pronoun:hover {
  box-shadow: 0px 0px 3px 3px #3aabff;
  border-radius: 2px;
  background-color: #3aabff;
}

.lower {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image,
.speaker,
.listener,
.speechbubble {
  width: 5vw;
  height: 5vw;
  margin: 3px;
}

.speechbubble {
  margin-bottom: 15vh;
}

.listener {
  margin-right: 10px;
}

.lowersentence {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  /* background-image: src("speechbubble.png"); */
  /* backgroun-size: cover; */
}

.lowerleft {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80vw;
}

.help {
  display: flex;
  justify-content: center;
  min-width: 18vw;
  padding: 3px;
}

.helptext {
  border-radius: 6px;
  min-width: 10vw;
  text-align: center;
  background-color: #aed6f1;
  text-decoration: none;
}

.subject,
.helpsubject {
  background-color: #ec7063;
  box-shadow: 0px 0px 3px 3px #ec7063;
}

.verb,
.helpverb {
  background-color: #f7dc6f;
  box-shadow: 0px 0px 3px 3px #f7dc6f;
}

.object,
.helpobject {
  background-color: #82e0aa;
  box-shadow: 0px 0px 3px 3px #82e0aa;
}

li {
  margin: 10px auto;
}
