/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media (max-width: 720px) {
  div.lesson {
    width: 100vw;
  }

  div.pronoun,
  div.answer,
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  div.pronoun img {
    width: 10vw;
    height: auto;
  }

  div.pronoun {
    font-size: 1rem;
  }

  div.choices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 12vh;
  }

  div.dialog {
    width: 100%;
  }

  div.word {
    font-size: 7vw;
  }

  ol {
    padding-left: 6vw;
  }

  div.example span {
    font-size: 1rem;
  }

  .helpbutton {
    padding: var(--med-padding);
  }
}
